<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.proteam5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProTeam5"
        tools:targetApi="31">
        <activity
            android:name=".Tab_Apps.Acti_QuanLy"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.Acti_Hotro"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.Acti_ThongBao"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.Acti_TrangCaNhan"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.QuanLy.Acti_ThongKeNap"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.QuanLy.Acti_ThongKe"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.QuanLy.Acti_MemberManager"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.HuongDan.Acti_HuongDanObb"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.HuongDan.Acti_HuongDan"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.MiniGame.Acti_MiniGame"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.View.Acti_ViewApps"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.Acti_GioiThieu"
            android:exported="false"
            android:theme="@style/Theme.ProTeam5.NoActionBar" />
        <activity
            android:name=".Tab_Apps.View.Acti_ViewTinTuc"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.View.Acti_ViewGame"
            android:exported="false" />
        <activity
            android:name=".Tab_Apps.Acti_ProTeam5"
            android:exported="false"
            android:theme="@style/Theme.ProTeam5.NoActionBar" />
        <activity
            android:name=".Tab_Apps.Acti_Hello"
            android:exported="true"
            android:theme="@style/Theme.ProTeam5.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>